<div class="mt-4">
  <h3>Khoá học của tôi</h3>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khoá học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="2">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            <a
              href=""
              class="btn btn-link"
              data-toggle="modal"
              data-target="#cfDeleteModal"
              data-whatever="{{this._id}}"
            >Xoá</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!--Confirm delete courses-->
<!-- Modal -->
<!-- Button trigger modal -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="cfDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận xoá khoá học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!--        Xoá khoá học-->
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xác nhận</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>

      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-course-form">

</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let courseId;
    const deleteForm = document.forms["delete-course-form"]
    const btnDeleteCourse = document.getElementById("btn-delete-course");

    $('#cfDeleteModal').on('show.bs.modal', function(event) {
      const button = $(event.relatedTarget);
      courseId = button.data('whatever');
    })

    btnDeleteCourse.onclick = function() {
      deleteForm.action="/courses/" + courseId + '/?_method=DELETE';
      deleteForm.submit();
    }
  })
</script>
